{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="mt-4">
  <div class="card container shadow mt-5 text-center col-md-4">
    <p class="pt-2">Login</p>
    <hr>
    {{data}}
    <form method="POST" class="px-3">
      {% csrf_token %}
      <input type="text" class="form-control my-3" placeholder="Username" name="username" value="{{username}}" id="">
      <input type="text" class="form-control my-3" placeholder="Password" name="password" id="">
      <a href="#">Forget Password</a> <br>
      <button type="submit" class="btn btn-success my-3">Submit</button>
    </form>
  </div>
</div>
{% endblock content %}