{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="mt-4">
  <div class="card container shadow mt-5 text-center col-md-4">
    <p class="pt-2">Register</p>
    <form  method="POST" class="px-3">
      {% csrf_token %}
      <input type="text" class="form-control my-3" placeholder="Username" name="username" value="{{username}}" required id="">
      <input type="email" class="form-control my-3" placeholder="Email" name="email" value="{{email}}" required id="">
      <input type="text" class="form-control my-3" placeholder="Password" name="password" required id="">
      <a href="#">Forget Password</a> <br>
      <button type="submit" class="btn btn-success my-3">Submit</button>
    </form>
  </div>
</div>
{% endblock content %}